<p id="notice"><%= notice %></p>

<h1>Склад</h1>

  <%= label_tag(:pathh, "Поиск") %>
  <%= text_field_tag(:pathh) %>
  <%= submit_tag("Найти") %>



<table border="3">
  <thead>
    <tr>
      <th>Изображение</th>
      <th>Номер</th>
      <th>Категория</th>
      <th>Наименование</th>
      <th>Количество</th>
      <th>Примечание</th>      
      <th>Цена</th>
      <th>Минимум</th>
      <th>Заказ</th>
      <th>Место хранения</th>
      <th>Артикул</th>
      <th>PDF</th>
      <th>DXF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @sklads.each do |sklad| %>
      <tr>
        <td> <% if sklad.asset_exists? sklad.image  %>
                <%=    image_tag(sklad.image, class: 'list_image') %>
                <% else %>
                <%=    image_tag('no_image.jpg', class: 'list_image')%>
                 <% end %>
        </td>

        <td><%= sklad.id %></td>        
        <td><%= sklad.cat %></td>
        <td><%= sklad.name %></td>
        <td><%= sklad.counttt %></td>
        <td><%= sklad.nottte %></td>
        <td><%= sklad.price %></td>
        <td><%= sklad.min_count %></td>
        <td><%= sklad.count_zakaz %></td>
        <td><%= sklad.save_place %></td>
        <td><%= sklad.artikul %></td>
        <td><%= sklad.name_pdf %></td>
        <td><%= sklad.name_dxf %></td>
        
         
        <td><%= link_to 'Show', sklad %></td>
        <td><%= link_to 'Edit', edit_sklad_path(sklad) %></td>
        <td><%= link_to 'Destroy', sklad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sklad', new_sklad_path %>
<%= link_to 'Category', categories_path %>
