<p id="notice"><%= notice %></p>

<p>
  <strong>Oldid:</strong>
  <%= @sklad.oldid %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sklad.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sklad.name %>
</p>

<p>
  <strong>Counttt:</strong>
  <%= @sklad.counttt %>
</p>

<p>
  <strong>Nottte:</strong>
  <%= @sklad.nottte %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sklad.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sklad.price %>
</p>

<p>
  <strong>Min count:</strong>
  <%= @sklad.min_count %>
</p>

<p>
  <strong>Count zakaz:</strong>
  <%= @sklad.count_zakaz %>
</p>

<p>
  <strong>Save place:</strong>
  <%= @sklad.save_place %>
</p>

<p>
  <strong>Artikul:</strong>
  <%= @sklad.artikul %>
</p>

<p>
  <strong>Name pdf:</strong>
  <%= @sklad.name_pdf %>
</p>

<p>
  <strong>Draw pdf:</strong>
  <%= @sklad.draw_pdf %>
</p>

<p>
  <strong>Name dxf:</strong>
  <%= @sklad.name_dxf %>
</p>

<p>
  <strong>Draw dxf:</strong>
  <%= @sklad.draw_dxf %>
</p>

<p>
  <strong>Value types:</strong>
  <%= @sklad.value_types %>
</p>

<%= link_to 'Edit', edit_sklad_path(@sklad) %> |
<%= link_to 'Back', sklads_path %>
